{% extends "layout.html" %}

{% block content %}

	<h1 class="text-center">SS14 Server Hub</h1>

	<div class="text-center">
		<span class="badge badge-primary font-size-18 m-5"><span id="active_servers_stat">...</span> Active Servers</span>
		<span class="badge badge-primary font-size-18 m-5"><span id="online_players_stat">...</span> Online Players</span>
	</div>

	<br/>

	{% for server in servers %}
		<div class="mx-auto w-three-quarter">
			<div class="card m-5 p-10">
				<div class="row">
					<div class="card-title col-11">
						#{{ loop.index }}
						
						<a class="text-muted" href="/hub/{{ server.id }}">{{ server.title or server.address }}</a>
					</div>
					<div class="card-title col-1 text-right">
						<a href="{{ server.address }}" class="btn btn-primary" type="button">Join</a>
					</div>

					<div class="badge-group">
						{% if server.online %}
							<span class="badge badge-success">Online</span>
							<span class="badge">{{ server.player_count }} players</span>
						{% else %}
							<span class="badge badge-danger">Offline</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}

