{% extends "layout.html" %}

{% block content %}

	{% for server in servers %}
		<div class="card m-5 p-5">
			<div class="row">
				<div class="card-title col-11">
					#{{ loop.index }}
					
					<a class="text-muted" href="/hub/{{ server.id }}">{{ server.title }}</a>
				</div>
				<div class="card-title col-1 text-right">
					<a href="{{ server.byond_url() }}" class="btn btn-primary" type="button">Join</a>
				</div>
				<span class="badge badge-primary">{{ server.player_count }} players</span>
			</div>
		</div>
	{% endfor %}

{% endblock %}

