{% extends "layout.html" %}

{% block content %}
<h1 class="text-center">
	SS13 Stats
</h1>
<div class="text-center">
	<span class="badge badge-primary font-size-18 m-5"><span id="data_points_stat">...</span> Data Points</span>
	<span class="badge badge-primary font-size-18 m-5"><span id="unique_servers_stat">...</span> Unique Servers</span>
	<span class="badge badge-primary font-size-18 m-5"><span id="online_players_stat">...</span> Online Players</span>

	<script>
		function update_summary_stats() {
			$.getJSON("/api/summary", function(data) {
				$("#data_points_stat").text(data.data_point_count.toLocaleString("en-US"));
				$("#unique_servers_stat").text(data.server_count.toLocaleString("en-US"));
				$("#online_players_stat").text(data.player_count.toLocaleString("en-US"));
			})
		}

		setInterval(update_summary_stats, 1000 * 600);
		update_summary_stats();
	</script>
</div>

<div class="card">
	<h2 class="card-title text-center">Global Player Count</h2>
	<canvas id="global_player_count_chart" height="80px"></canvas>
</div>

<div class="card">
	<h2 class="card-title text-center">Global Server Count</h2>
	<canvas id="global_server_count_chart" height="80px"></canvas>
</div>

<div class="card">
	<h2 class="card-title text-center">Byond Fan Count</h2>
	<canvas id="byond_fan_count_chart" height="80px"></canvas>
</div>

<script>
	construct_chart(
		"global_player_count_chart",
		"Global Player Count",
		"/api/global_stats?type=PLAYER_COUNT",
		entry => entry.timestamp,
		entry => entry.value
	)

	construct_chart(
		"global_server_count_chart",
		"Global Server Count",
		"/api/global_stats?type=SERVER_COUNT",
		entry => entry.timestamp,
		entry => entry.value
	)

	construct_chart(
		"byond_fan_count_chart",
		"Byond Fan Count",
		"/api/global_stats?type=FAN_COUNT",
		entry => entry.timestamp,
		entry => entry.value
	)
</script>

{% endblock %}

