{% extends "layout.html" %}

{% block content %}
<h1 class="text-center">
	SS14 Global Stats
</h1>
<div class="text-center">
	<span class="badge badge-primary font-size-18 m-5"><span id="data_points_stat">...</span> Data Points</span>
	<span class="badge badge-primary font-size-18 m-5"><span id="unique_servers_stat">...</span> Unique Servers</span>
	<span class="badge badge-primary font-size-18 m-5"><span id="online_players_stat">...</span> Online Players</span>
</div>

<br/>

<div class="text-center">
	<div class="btn-group" role="group" aria-label="Basic example">
		<button id="button-time-window-DAY" class="btn btn-primary" type="button" onClick="set_time_window('DAY');">Day</button>
		<button id="button-time-window-WEEK" class="btn" type="button" onClick="set_time_window('WEEK');">Week</button>
		<button id="button-time-window-MONTH" class="btn" type="button" onClick="set_time_window('MONTH');">Month</button>
		<button id="button-time-window-YEAR" class="btn" type="button" onClick="set_time_window('YEAR');">Year</button>
		<button id="button-time-window-ALL" class="btn" type="button" onClick="set_time_window('ALL');">All Time</button>
	</div>
</div>


<div class="card">
	<h2 class="card-title text-center">Global Player Count</h2>
	<canvas id="global_player_count_chart" height="80px"></canvas>
</div>

<div class="card">
	<h2 class="card-title text-center">Weekday Player Count Averages</h2>
	<canvas id="global_weekday_averages_chart" height="80px"></canvas>
</div>

<div class="card">
	<h2 class="card-title text-center">Hourly Player Count Averages</h2>
	<canvas id="global_hourly_averages_chart" height="80px"></canvas>
</div>

<div class="card">
	<h2 class="card-title text-center">Global Server Count</h2>
	<canvas id="global_server_count_chart" height="80px"></canvas>
</div>


<script>
	new SS13StatsChart(
		"global_player_count_chart",
		"Global Player Count",
		"/api/global_stats?type=PLAYER_COUNT"
	)

	new SS13GlobalWeekdayAveragesChart(
		"global_weekday_averages_chart",
		"Global Weekday Averages",
		"/api/global_weekdays"
	)

	new SS13GlobalHourlyAveragesChart(
		"global_hourly_averages_chart",
		"Global Hourly Averages",
		"/api/global_hours"
	)

	new SS13StatsChart(
		"global_server_count_chart",
		"Global Server Count",
		"/api/global_stats?type=SERVER_COUNT"
	)
</script>

{% endblock %}

